<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MikroTik_IISAutoBlocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MikroTik_IISAutoBlocker.Properties.Settings>
            <setting name="IISLogRootPath" serializeAs="String">
                <value>C:\inetpub\logs\LogFiles</value>
            </setting>
            <setting name="IISSubFolder" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>W3SVC1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RouterIP" serializeAs="String">
                <value />
            </setting>
            <setting name="RouterAddressListName" serializeAs="String">
                <value>block_externalip</value>
            </setting>
            <setting name="RuleExpireTime" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="SafeSubnet" serializeAs="String">
                <value />
            </setting>
            <setting name="RouterUser" serializeAs="String">
                <value />
            </setting>
            <setting name="RouterPass" serializeAs="String">
                <value />
            </setting>
        </MikroTik_IISAutoBlocker.Properties.Settings>
    </applicationSettings>
</configuration>